// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
// 2. Include any default variable overrides here
$theme-colors: (
  primary: red,
  seconday: red,
  // $purple is defined in _variables.scss,,,,,
);
// 3. Include remainder of required Bootstrap stylesheets

@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
$primary: #000000;
$danger: #ff4136;
$secondary: rgb(255, 0, 0);

@import "/node_modules/bootstrap";
